// import __STRING_0__;
import 'package:injectable/injectable.dart';
// import __STRING_2__;

@module
abstract class FirebaseInjectableModule {
  // @lazySingleton
  // FirebaseAuth get firebaseAuth => FirebaseAuth.instance;
  // @lazySingleton
  // Firestore get firestore => Firestore.instance;
}
