/*
 * Remote Service template for API communication
 * Uses Retrofit to define REST API endpoints
 * 
 * This service handles all HTTP calls to the backend API
 * and returns DTOs that will be mapped to domain entities
 */

import 'package:dio/dio.dart';
import 'package:injectable/injectable.dart';
import 'package:retrofit/retrofit.dart';
import 'package:[[project_name]]/apis/common/constants.dart';
import 'package:[[project_name]]/[[import_prefix]]/infrastructure/[[file_name]]_dto.dart';

part '[[file_name]]_service.g.dart';

@module
abstract class [[entity_name]]RemoteModule {
  @preResolve
  @LazySingleton()
  Future<[[entity_name]]Service> [[entity_name_camel]]Service(Dio dio) async {
    return [[entity_name]]Service(dio, baseUrl: Constants.apiUrl);
  }
}

@RestApi()
abstract class [[entity_name]]Service {
  @factoryMethod
  factory [[entity_name]]Service(Dio dio, {String baseUrl}) = _[[entity_name]]Service;

  @GET('/[[kebab_name]]s')
  Future<List<[[entity_name]]Dto>> getAll();

  @GET('/[[kebab_name]]s/{id}')
  Future<[[entity_name]]Dto> getById(@Path('id') String id);

  @POST('/[[kebab_name]]s')
  Future<[[entity_name]]Dto> create(@Body() [[entity_name]]Dto [[entity_name_camel]]Dto);

  @PUT('/[[kebab_name]]s/{id}')
  Future<[[entity_name]]Dto> update(@Path('id') String id, @Body() [[entity_name]]Dto [[entity_name_camel]]Dto);

  @DELETE('/[[kebab_name]]s/{id}')
  Future<void> delete(@Path('id') String id);
}
