import 'package:dartz/dartz.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:freezed_annotation/freezed_annotation.dart';
import 'package:injectable/injectable.dart';

part '[[component_name]]_form_event.dart';
part '[[component_name]]_form_state.dart';
part '[[component_name]]_form_bloc.freezed.dart';

@injectable
class [[pascal_name]]FormBloc extends Bloc<[[pascal_name]]FormEvent, [[pascal_name]]FormState> {
  [[pascal_name]]FormBloc() : super([[pascal_name]]FormState.initial()) {
{% for field in field_list %}
{% if field.name != 'id' %}
    // on<[[field.name|title]]Changed>(_on[[field.name|title]]Changed);
{% endif %}
{% endfor %}
    on<Submit>(_onSubmit);
  }

{% for field in field_list %}
{% if field.name != 'id' %}
  // void _on[[field.name|title]]Changed([[field.name|title]]Changed event, Emitter<[[pascal_name]]FormState> emit) {
  //   emit(state.copyWith(
  //     [[field.name]]: [[field.name|title]](event.[[field.name]]Str),
  //     showErrorMessages: false,
  //   ));
  // }
{% endif %}
{% endfor %}

  void _onSubmit(Submit event, Emitter<[[pascal_name]]FormState> emit) async {
    emit(state.copyWith(isSubmitting: true, showErrorMessages: false));
    // TODO: Implement submit logic here
    emit(state.copyWith(isSubmitting: false));
  }
}
