import 'package:bloc/bloc.dart';
import 'package:freezed_annotation/freezed_annotation.dart';
import 'package:injectable/injectable.dart';

part '[[feature_name]]_event.dart';
part '[[feature_name]]_state.dart';

part '[[feature_name]]_bloc.freezed.dart';

@injectable
class [[feature_name.capitalize()]]Bloc extends Bloc<[[feature_name.capitalize()]]Event, [[feature_name.capitalize()]]State> {

  [[feature_name.capitalize()]]Bloc() : super(const [[feature_name.capitalize()]]State.initial()) {
    on<LoadRequested>(_onLoadRequested);
    on<DeleteRequested>(_onDeleteRequested);
  }

  void _onLoadRequested(LoadRequested event, Emitter<[[feature_name.capitalize()]]State> emit) async {
    emit(const [[feature_name.capitalize()]]State.loading());
    // final result = await _repository.getAll();
    // result.fold(
    //   (failure) => emit([[feature_name.capitalize()]]State.error(failure.toString())),
    //   (items) => emit([[feature_name.capitalize()]]State.loaded(items)),
    // );
  }

  void _onDeleteRequested(DeleteRequested event, Emitter<[[feature_name.capitalize()]]State> emit) async {
    emit(const [[feature_name.capitalize()]]State.loading());
    // final result = await _repository.delete(event.id);
    // result.fold(
    //   (failure) => emit([[feature_name.capitalize()]]State.error(failure.toString())),
    //   (_) async {
    //     final itemsResult = await _repository.getAll();
    //     itemsResult.fold(
    //       (failure) => emit([[feature_name.capitalize()]]State.error(failure.toString())),
    //       (items) => emit([[feature_name.capitalize()]]State.loaded(items)),
    //     );
    //   },
    // );
  }
}
