part of '[[component_name]]_form_bloc.dart';

@freezed
abstract class [[pascal_name]]FormEvent with _$[[pascal_name]]FormEvent {
[[field_events]]
  const factory [[pascal_name]]FormEvent.submit() = Submit;
}
