import 'package:dartz/dartz.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:freezed_annotation/freezed_annotation.dart';
import 'package:[[project_name]]/core/bloc/base_form_bloc.dart';
{% if domain_value_objects_import %}
import 'package:[[project_name]]/[[domain_value_objects_import]]';
{% endif %}
{% if extra_imports %}
[[extra_imports]]
{% endif %}

part '[[component_name]]_form_event.dart';
part '[[component_name]]_form_state.dart';
part '[[component_name]]_form_bloc.freezed.dart';

class [[pascal_name]]FormBloc extends BaseFormBloc<[[pascal_name]]FormEvent, [[pascal_name]]FormState, String, Unit> {
  [[pascal_name]]FormBloc() : super([[pascal_name]]FormState.initial()) {
{% for field in field_list %}
{% if field.name != 'id' %}
    on<[[field.pascal_name]]Changed>(_on[[field.pascal_name]]Changed);
{% endif %}
{% endfor %}
    on<Submit>(_onSubmit);
  }

{% for field in field_list %}
{% if field.name != 'id' %}
{% if field.is_enum %}
  void _on[[field.pascal_name]]Changed([[field.pascal_name]]Changed event, Emitter<[[pascal_name]]FormState> emit) {
    emit(state.copyWith(
      [[field.name]]: [[field.bloc_parse_expr]],
      showErrorMessages: false,
    ));
  }
{% elif field.has_value_object %}
  void _on[[field.pascal_name]]Changed([[field.pascal_name]]Changed event, Emitter<[[pascal_name]]FormState> emit) {
    emit(state.copyWith(
      [[field.name]]: [[field.pascal_name]]([[field.bloc_parse_expr]]),
      showErrorMessages: false,
    ));
  }
{% endif %}
{% endif %}
{% endfor %}

  Future<void> _onSubmit(Submit event, Emitter<[[pascal_name]]FormState> emit) async {
    await handleFormSubmitWithEither<Unit>(
      emit,
      // TODO: Replace with actual submit operation
      Future.value(right(unit)),
      () => state.copyWith(isSubmitting: true, showErrorMessages: false),
      (Either<String, Unit> result) => state.copyWith(
        isSubmitting: false,
        failureOrSuccessOption: some(result),
      ),
    );
  }
}
