import 'package:caravaggio_ui/caravaggio_ui.dart';
import 'package:flutter/material.dart';
import 'package:go_router/go_router.dart';
import 'package:[[project_name]]/features/home/home_page.dart';
{% for drawer_item in drawer_items %}
import 'package:[[project_name]]/[[drawer_item.name]]/presentation/[[drawer_item.name]]_page.dart';
{% endfor %}

class AppDrawer extends StatelessWidget {
  const AppDrawer({super.key});

  @override
  Widget build(BuildContext context) {
    return Drawer(
      child: ListView(
        padding: EdgeInsets.zero,
        children: <Widget>[
          const DrawerHeader(
            decoration: BoxDecoration(
              color: Colors.blue,
            ),
            child: Text(
              'App Navigation',
              style: TextStyle(
                color: Colors.white,
                fontSize: 24,
              ),
            ),
          ),
          CTile.simple(
            title: 'Home',
            icon: Icons.home,
            onTap: () {
              Navigator.of(context).pop();
              context.go(HomePage.routeName);
            },
          ),
{% for drawer_item in drawer_items %}
          CTile.simple(
            title: '[[drawer_item.name|replace("_", " ")|title]]',
            icon: Icons.star,
            onTap: () {
              Navigator.of(context).pop();
              context.go([[drawer_item.name|title]]Page.routeName);
            },
          ),
{% endfor %}
        ],
      ),
    );
  }
}
