import 'package:flutter/material.dart';
import 'package:caravaggio_ui/caravaggio_ui.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:provider/single_child_widget.dart' show SingleChildWidget;
{% if has_login %}
import 'package:[[project_name]]/features/auth/application/auth_bloc.dart';
import 'package:[[project_name]]/injection.dart';
import 'package:[[project_name]]/domain/auth/model/i_auth_facade.dart';
{% endif %}
import 'package:[[project_name]]/router.dart';

class AppWidget extends StatelessWidget {
  const AppWidget({super.key});

  @override
  Widget build(BuildContext context) {
    return MultiBlocProvider(
      providers: <SingleChildWidget>[
{% if has_login %}
        BlocProvider<AuthBloc>(create: (BuildContext context) => AuthBloc(getIt<IAuthFacade>())..add(const AuthCheckRequested())),
{% endif %}
        // Add blocs here if needed
      ],
      child: const _App(),
    );
  }
}

class _App extends StatelessWidget {
  const _App();

  @override
  Widget build(BuildContext context) {
    return MaterialApp.router(
      title: '[[project_name]]',
      theme: CUI.themeData,
      routerConfig: router,
    );
  }
}

