// import __STRING_0__;
// import __STRING_1__;
// import __STRING_2__;
// import __STRING_3__;
// import __STRING_4__;
// import __STRING_5__;

// class AppWidget extends StatelessWidget {
//   const AppWidget({super.key});

//   @override
//   Widget build(BuildContext context) {
//     return MultiBlocProvider(
//       // ignore: always_specify_types
//       providers: [
//         // Add blocs here if needed
//       ],
//       child: const _App(),
//     );
//   }
// }

// class _App extends StatelessWidget {
//   const _App();

//   @override
//   Widget build(BuildContext context) {
//     return MaterialApp(
//       title: __STRING_6__,
//       theme: CUI.themeData,
//       initialRoute: SplashScreen.routeName,
//       onGenerateRoute: MyRouter.onGenerateRoute,
//     );
//   }
// }
