// import __STRING_0__;
// import __STRING_1__;
// import __STRING_2__;

// final GetIt getIt = GetIt.instance;

// @InjectableInit()
// Future<void> configureDependencies(String env) async => getIt.init(environment: env);
