// import __STRING_0__;
// import __STRING_1__;
// import __STRING_2__;
// import __STRING_3__;
// import __STRING_4__;
// import __STRING_5__;

// Future<void> main() async {
//   CaravaggioUI.initialize(
//     primaryColor: Colors.red, // Change this to your desired primary color
//     // fontFamily: __STRING_6__, // Uncomment and set your desired font family
//   );

//   WidgetsFlutterBinding.ensureInitialized();

//   initEnvironment();

//   await configureDependencies(Environment.dev);

//   runApp(const AppWidget());
// }

// void initEnvironment() {
//   const String environment = String.fromEnvironment(
//     __STRING_7__,
//     defaultValue: __STRING_8__,
//   );

//   if (environment.toLowerCase() == __STRING_9__) {
//     Constants.apiUrl = __STRING_10__;
//   } else if (environment.toLowerCase() == __STRING_11__) {
//     Constants.apiUrl = __STRING_12__;
//   } else if (environment.toLowerCase() == __STRING_13__) {
//     Constants.apiUrl = __STRING_14__;
//   } else {
//     Constants.apiUrl = __STRING_15__;
//   }
// }
