/*
 * Simple page template for Flutter screens
 * Generates a basic StatelessWidget page with:
 * - AppBar with page title
 * - Centered content placeholder
 * - Route name constant for navigation
 * Use this template for creating simple, static pages
 */

import 'package:flutter/material.dart';

class [[page_name|title]]Page extends StatelessWidget {
  static const String routeName = '/[[page_name]]';

  const [[page_name|title]]Page({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: const Text('[[page_name|replace("_", " ")|title]]'),
      ),
      body: const Center(
        child: Text('[[page_name|replace("_", " ")|title]] Page'),
      ),
    );
  }
}
