/*
 * Simple page template for Flutter screens
 * Generates a basic StatelessWidget page with:
 * - CustomScaffold with page title
 * - Centered content placeholder
 * - Route name constant for navigation
 * Use this template for creating simple, static pages
 */

import 'package:caravaggio_ui/caravaggio_ui.dart';
import 'package:flutter/material.dart';
import 'package:[[project_name]]/widgets/common/custom_scaffold.dart';

class [[page_name|title]]Page extends StatelessWidget {
  static const String routeName = '/[[page_name]]';

  const [[page_name|title]]Page({super.key});

  @override
  Widget build(BuildContext context) {
    return CustomScaffold(
      title: CText.title('[[page_name|replace("_", " ")|title]]', size: TextSize.small),
      showBackButton: true,
      body: Center(
        child: CText.body('[[page_name|replace("_", " ")|title]] Page'),
      ),
    );
  }
}
