// // ignore_for_file: always_specify_types

// import __STRING_0__;
// import __STRING_1__;
// import __STRING_2__;
// import __STRING_3__;

// GoRouter router = GoRouter(
//   routes: [
//     GoRoute(
//       path: SplashScreen.routeName,
//       builder: (context, state) => const SplashScreen(),
//     ),
//     GoRoute(
//       path: HomeScreen.routeName,
//       builder: (context, state) => const HomeScreen(),
//     ),
//   ],
// );
