{% if has_login %}
import 'package:[[project_name]]/features/auth/presentation/login_screen.dart';
{% endif %}
import 'package:[[project_name]]/home/presentation/home_screen.dart';
import 'package:flutter/material.dart';
import 'package:[[project_name]]/splash/presentation/splash_screen.dart';
import 'package:go_router/go_router.dart';

final GoRouter router = GoRouter(
  routes: <RouteBase>[
{% if has_login %}
    GoRoute(
        path: LoginScreen.routeName,
        builder: (BuildContext context, GoRouterState state) => const LoginScreen(),
    ),
{% endif %}
    GoRoute(
      path: HomeScreen.routeName,
      builder: (BuildContext context, GoRouterState state) => const HomeScreen(),
    ),
    GoRoute(
      path: SplashScreen.routeName,
      builder: (BuildContext context, GoRouterState state) => const SplashScreen(),
    ),
  ],
);
