import 'package:dartz/dartz.dart';
import 'package:[[project_name]]/domain/auth/model/auth_failure.dart';
import 'package:[[project_name]]/domain/auth/model/user.dart';
import 'package:[[project_name]]/domain/auth/model/value_objects.dart';

abstract class IAuthFacade {
  /// Get the currently signed-in user
  /// Returns User mapped from UserProfile (database entity)
  /// The UserProfile is automatically synced with the authentication provider
  Future<Option<User>> getSignedInUser();
  Future<Either<AuthFailure, Unit>> registerWithEmailAndPassword({
    required EmailAddress emailAddress,
    required Password password,
  });
  Future<Either<AuthFailure, Unit>> signInWithEmailAndPassword({
    required EmailAddress emailAddress,
    required Password password,
  });
  Future<Either<AuthFailure, Unit>> signInWithGoogle();
  Future<Either<AuthFailure, Unit>> signInWithApple();
  Future<Either<AuthFailure, Unit>> registerWithGoogle();
  Future<Either<AuthFailure, Unit>> registerWithApple();
  Future<void> signOut();
}
