const SizedBox(height: 8),
                    CButton.elevated(
                      onPressed: () => context.read<SignInFormBloc>().add(const SignInFormEvent.signInWithApplePressed()),
                      color: Colors.black,
                      radius: AppRadius.s,
                      suffixIcon: SvgPicture.asset(
                        'assets/svgs/apple.svg',
                        semanticsLabel: 'Apple logo',
                        color: Colors.white,
                        width: 24,
                        height: 24,
                      ),
                      child: CText.label(
                        'Continue with Apple',
                      ).white.bold,
                    ),
