// const SizedBox(height: 8),
//                     CTextField.bordered(
//                       decoration: const CFieldDecoration(
//                         prefixIcon: Icon(Icons.email),
//                         labelText: __STRING_0__,
//                       ),
//                       autocorrect: false,
//                       onChanged: (value) {
//                         context.read<SignInFormBloc>().add(SignInFormEvent.emailChanged(value));
//                       },
//                       validator: (_) {
//                         return context.read<SignInFormBloc>().state.emailAddress.value.fold(
//                               (f) => f.maybeMap(
//                                 invalidEmail: (_) => __STRING_1__,
//                                 orElse: () => null,
//                               ),
//                               (_) => null,
//                             );
//                       },
//                     ),
//                     const SizedBox(height: 8),
//                     CTextField.bordered(
//                       // controller: passwordController,
//                       decoration: const CFieldDecoration(
//                         prefixIcon: Icon(Icons.lock),
//                         labelText: __STRING_2__,
//                       ),
//                       obscureText: true,
//                       autocorrect: false,
//                       onChanged: (value) {
//                         context.read<SignInFormBloc>().add(SignInFormEvent.passwordChanged(value));
//                       },
//                       validator: (_) {
//                         return context.read<SignInFormBloc>().state.password.value.fold(
//                               (f) => f.maybeMap(
//                                 shortPassword: (_) => __STRING_3__,
//                                 orElse: () => null,
//                               ),
//                               (_) => null,
//                             );
//                       },
//                     ),
//                     if (state.signInAction == SignInAction.signUp) ...[
//                       const SizedBox(height: 8),
//                       CTextField.bordered(
//                         decoration: const CFieldDecoration(
//                           prefixIcon: Icon(Icons.person),
//                           labelText: __STRING_4__,
//                         ),
//                         obscureText: true,
//                         autocorrect: false,
//                         onChanged: (value) {
//                           context.read<SignInFormBloc>().add(SignInFormEvent.confirmPasswordChanged(value));
//                         },
//                         validator: (value) {
//                           return context.read<SignInFormBloc>().state.confirmPassword.value.fold(
//                                 (f) => f.maybeMap(
//                                   passwordsDoNotMatch: (_) => __STRING_5__,
//                                   orElse: () => null,
//                                 ),
//                                 (_) => null,
//                               );
//                         },
//                       ),
//                     ],
//                     const SizedBox(height: 8),
//                     CButton.elevated(
//                       radius: AppRadius.s,
//                       onPressed: () {
//                         if (state.signInAction == SignInAction.signIn) {
//                           context.read<SignInFormBloc>().add(const SignInFormEvent.signInWithEmailAndPasswordPressed());
//                         } else {
//                           context.read<SignInFormBloc>().add(const SignInFormEvent.registerWithEmailAndPasswordPressed());
//                         }
//                       },
//                       child: state.signInAction == SignInAction.signIn ? CText.label(__STRING_6__) : CText.label(__STRING_7__),
//                     ),
//                     const SizedBox(height: 16),
//                     Row(
//                       mainAxisAlignment: MainAxisAlignment.center,
//                       children: [
//                         CText.label(
//                           state.signInAction == SignInAction.signIn ? __STRING_8__ : __STRING_9__,
//                         ),
//                         GestureDetector(
//                           onTap: () {
//                             context.read<SignInFormBloc>().add(const SignInFormEvent.toggleSignInAction());
//                           },
//                           child: CText.label(
//                             state.signInAction == SignInAction.signIn ? __STRING_10__ : __STRING_11__,
//                           ).bold.withColor(Colors.blue),
//                         ),
//                       ],
//                     ),
