const SizedBox(height: 16),
                    CButton.outlined(
                      onPressed: () => context.read<SignInFormBloc>().add(const SignInFormEvent.signInWithGooglePressed()),
                      radius: AppRadius.s,
                      color: Colors.grey,
                      suffixIcon: SvgPicture.asset(
                        'assets/svgs/google.svg',
                        semanticsLabel: 'Google logo',
                        width: 24,
                        height: 24,
                      ),
                      child: CText.label(
                        'Continue with Google',
                      ).bold,
                    ),
