import 'package:freezed_annotation/freezed_annotation.dart';

part '[[file_name]]_failure.freezed.dart';

@freezed
abstract class [[feature_name]]Failure with _$[[feature_name]]Failure {
  const factory [[feature_name]]Failure.unexpected() = Unexpected;
  const factory [[feature_name]]Failure.insufficientPermission() = InsufficientPermission;
  const factory [[feature_name]]Failure.unableToUpdate() = UnableToUpdate;
  const factory [[feature_name]]Failure.notFound() = NotFound;
}
