import 'package:freezed_annotation/freezed_annotation.dart';

part '[[feature_name]]_dto.freezed.dart';
part '[[feature_name]]_dto.g.dart';

@freezed
abstract class [[feature_name.capitalize()]]Dto with _$[[feature_name.capitalize()]]Dto {
  const factory [[feature_name.capitalize()]]Dto({
[[fields]]
  }) = _[[feature_name.capitalize()]]Dto;

  factory [[feature_name.capitalize()]]Dto.fromJson(Map<String, dynamic> json) =>
      _$[[feature_name.capitalize()]]DtoFromJson(json);
}
