/*
 * Data Transfer Object (DTO) template for API communication
 * Generates a serializable class for network data transfer with:
 * - JSON serialization/deserialization
 * - Freezed for immutability and code generation
 * - Automatic fromJson/toJson methods
 * 
 * DTOs represent the data structure expected by the API
 * and are mapped to/from domain entities in repositories
 */

import 'package:freezed_annotation/freezed_annotation.dart';
[[dto_imports]]

part '[[file_name]]_dto.freezed.dart';
part '[[file_name]]_dto.g.dart';

@freezed
abstract class [[feature_name]]Dto with _$[[feature_name]]Dto {
  const factory [[feature_name]]Dto({
[[fields]]
  }) = _[[feature_name]]Dto;

  factory [[feature_name]]Dto.fromJson(Map<String, dynamic> json) =>
      _$[[feature_name]]DtoFromJson(json);
}
