/*
 * Extension methods template for data mapping
 * Generates conversion methods between domain and infrastructure layers:
 * - DTO to Domain: Convert API data to business objects
 * - Domain to DTO: Convert business objects for API calls
 * 
 * These extensions provide clean separation between:
 * - Domain layer (business logic)
 * - Infrastructure layer (API communication)
 */

import 'package:[[project_name]]/[[feature_name]]/model/[[feature_name]].dart';
import 'package:[[project_name]]/[[feature_name]]/infrastructure/[[feature_name]]_dto.dart';

extension [[feature_name.capitalize()]]DtoX on [[feature_name.capitalize()]]Dto {
  [[feature_name.capitalize()]] toDomain() => [[feature_name.capitalize()]](
[[dto_to_domain_fields]]
      );
}

extension [[feature_name.capitalize()]]X on [[feature_name.capitalize()]] {
  [[feature_name.capitalize()]]Dto toDto() => [[feature_name.capitalize()]]Dto(
[[domain_to_dto_fields]]
      );
}
