import 'package:dartz/dartz.dart';
[[i_repo_import]]

abstract class I[[feature_name.capitalize()]]Repository {
  Future<Either<[[feature_name.capitalize()]]Failure, List<[[feature_name.capitalize()]]>>> getAll();
  Future<Either<[[feature_name.capitalize()]]Failure, [[feature_name.capitalize()]]>> getById(String id);
  Future<Either<[[feature_name.capitalize()]]Failure, Unit>> create([[feature_name.capitalize()]] item);
  Future<Either<[[feature_name.capitalize()]]Failure, Unit>> update([[feature_name.capitalize()]] item);
  Future<Either<[[feature_name.capitalize()]]Failure, Unit>> delete(String id);
}
