/*
 * Repository interface template for data access abstraction
 * Defines the contract for data operations using:
 * - Either type for error handling (Left = failure, Right = success)
 * - CRUD operations (Create, Read, Update, Delete)
 * - Async operations returning Futures
 * 
 * This interface allows different implementations (API, local storage, etc.)
 * while keeping the business logic independent of data source
 */

import 'package:dartz/dartz.dart';
[[i_repo_import]]

abstract class I[[feature_name.capitalize()]]Repository {
  Future<Either<[[feature_name.capitalize()]]Failure, List<[[feature_name.capitalize()]]>>> getAll();
  Future<Either<[[feature_name.capitalize()]]Failure, [[feature_name.capitalize()]]>> getById(String id);
  Future<Either<[[feature_name.capitalize()]]Failure, Unit>> create([[feature_name.capitalize()]] item);
  Future<Either<[[feature_name.capitalize()]]Failure, Unit>> update([[feature_name.capitalize()]] item);
  Future<Either<[[feature_name.capitalize()]]Failure, Unit>> delete(String id);
}
