import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:[[project_name]]/features/auth/application/auth_bloc.dart';
import 'package:[[project_name]]/features/auth/presentation/login_page.dart';
import 'package:[[project_name]]/features/home/home_page.dart';
import 'package:go_router/go_router.dart';

class SplashPage extends StatefulWidget {
  static const String routeName = '/';

  const SplashPage({super.key});

  @override
  State<SplashPage> createState() => _SplashPageState();
}

class _SplashPageState extends State<SplashPage> {
  int _animation = 0;

  @override
  void initState() {
    super.initState();
    WidgetsBinding.instance.addPostFrameCallback((_) {
      setState(() {
        _animation = 1;
      });
    });
  }

  @override
  Widget build(BuildContext context) {
    return BlocListener<AuthBloc, AuthState>(
      listener: (BuildContext context, AuthState state) => switch (state) {
        Authenticated() => context.replace(HomePage.routeName),
        Unauthenticated() => context.replace(LoginPage.routeName),
        _ => null,
      },
      child: Scaffold(
        body: Center(
          child: AnimatedContainer(
            duration: const Duration(seconds: 1),
            curve: Curves.easeInOut,
            width: _animation == 1 ? 200 : 100,
            child: Image.asset('assets/logo.png'),
          ),
        ),
      ),
    );
  }
}
