import 'package:flutter/material.dart';

class [[screen_name]]Screen extends StatelessWidget {
  const [[screen_name]]Screen({super.key});

  @override
  Widget build(BuildContext context) {
    return const Center(
      child: Text('[[screen_title]] Page'),
    );
  }
}
