import 'package:flutter/material.dart';

class [[screen_name|title]]Screen extends StatelessWidget {{
  const [[screen_name|title]]Screen({{super.key}});

  @override
  Widget build(BuildContext context) {{
    return const Center(
      child: Text('[[screen_name|replace("_", " ")|title]] Page'),
    );
  }}
}}
