import 'package:flutter/material.dart';

/// Indicatore di caricamento predefinito per componenti e pagine.
class LoadingWidget extends StatelessWidget {
  const LoadingWidget({super.key});

  @override
  Widget build(BuildContext context) {
    return const Center(
      child: CircularProgressIndicator(),
    );
  }
}
