import 'package:dartz/dartz.dart';
import 'package:injectable/injectable.dart';
import 'package:[[project_name]]/storage/storage_repository.dart';
import 'package:[[project_name]]/auth/model/value_objects.dart';
import 'package:[[project_name]]/auth/model/user.dart' as auth_user;
import 'package:[[project_name]]/auth/model/auth_failure.dart';
import 'package:[[project_name]]/auth/model/i_auth_facade.dart';
// import __STRING_7__;
// import __STRING_8__; // Uncomment the following line to use Firebase Authentication
// import __STRING_9__; // Uncomment the following line to use Firebase Authentication

/// NOTE: This class is currently a skeleton implementation. Uncomment and implement
/// the necessary parts to enable authentication functionality.
///
/// If you are using API from a backend service and authentication from Firebase
/// ensure that backend service is properly set up to work with Firebase Authentication.

@Singleton(as: IAuthFacade)
class FirebaseAuthFacade implements IAuthFacade {
  // final FirebaseAuth _firebaseAuth; // Uncomment the following line to use Firebase Authentication
  // final FirebaseUserMapper _firebaseUserMapper; // Uncomment the following line to use Firebase Authentication
  final StorageRepository _storageRepository;

  FirebaseAuthFacade(
    // this._firebaseAuth, // Uncomment the following line to use Firebase Authentication
    // this._firebaseUserMapper, // Uncomment the following line to use Firebase Authentication
    this._storageRepository,
  );

  @override
  Option<auth_user.User> getSignedInUser() {
    // Uncomment the following line to use Firebase Authentication
    // return optionOf(_firebaseUserMapper.toDomain(_firebaseAuth.currentUser));
    return none();
  }

  @override
  Future<Either<AuthFailure, Unit>> registerWithEmailAndPassword({
    required EmailAddress emailAddress,
    required Password password,
  }) async {
    final String emailAddressStr = emailAddress.value.getOrElse(() => throw 'INVALID EMAIL');
    final String passwordStr = password.value.getOrElse(() => throw 'INVALID PASSWORD');

    // Uncomment the following code to implement Email/Password Registration with Firebase Authentication

    // try {
    //   final userCredential = await _firebaseAuth.createUserWithEmailAndPassword(
    //     email: emailAddressStr,
    //     password: passwordStr,
    //   );

    //   // Uncomment to save the token if needed

    //   // // User registered and logged
    //   // final user = userCredential.user;

    //   // // Get ID token (JWT)
    //   // final idToken = await user?.getIdToken();

    //   // if (idToken != null) {
    //   //   await _storageRepository.saveToken(idToken);
    //   // }

    //   return right(unit);
    // } on PlatformException catch (e) {
    //   if (e.code == __STRING_12__) {
    //     return left(const AuthFailure.emailAlreadyInUse());
    //   } else {
    //     return left(const AuthFailure.serverError());
    //   }
    // }

    return right(unit);
  }

  @override
  Future<Either<AuthFailure, Unit>> signInWithEmailAndPassword({
    required EmailAddress emailAddress,
    required Password password,
  }) async {
    final String emailAddressStr = emailAddress.value.getOrElse(() => throw 'INVALID EMAIL');
    final String passwordStr = password.value.getOrElse(() => throw 'INVALID PASSWORD');

    // Uncomment the following code to implement Email/Password Sign-In with Firebase Authentication

    // try {
    //   final userCredential = await _firebaseAuth.signInWithEmailAndPassword(
    //     email: emailAddressStr,
    //     password: passwordStr,
    //   );

    //   // Uncomment to save the token if needed

    //   // // User logged
    //   // final user = userCredential.user;

    //   // // Get ID token (JWT)
    //   // final idToken = await user?.getIdToken();

    //   // if (idToken != null) {
    //   //   await _storageRepository.saveToken(idToken);
    //   // }

    //   return right(unit);
    // } on PlatformException catch (e) {
    //   if (e.code == __STRING_15__ || e.code == __STRING_16__) {
    //     return left(const AuthFailure.invalidEmailAndPasswordCombination());
    //   }
    //   return left(const AuthFailure.serverError());
    // }

    return right(unit);
  }

  @override
  Future<void> signOut() async {
    await Future.wait(<Future<void>>[
      // _firebaseAuth.signOut(), // Uncomment the following line to use Firebase Authentication
      _storageRepository.removeToken(),
    ]);
  }
}
