// // Uncomment the following line to use Firebase Authentication

// import __STRING_0__;
// import __STRING_1__;

// import __STRING_2__ as auth_user;
// import __STRING_3__;
// import __STRING_4__;

// NOTE: This class is currently a skeleton implementation. Uncomment and implement
// the necessary parts to enable authentication functionality.
//
// This example shows how to map a Firebase User to the domain User model.

// @lazySingleton
// class FirebaseUserMapper {
//   auth_user.User? toDomain(User? _) {
//     return _ == null
//         ? null
//         : auth_user.User(
//             id: UniqueId.fromUniqueString(_.uid),
//             name: StringSingleLine(_.displayName ?? (_.email ?? __STRING_5__).split(__STRING_6__).firstOrNull ?? __STRING_7__),
//             emailAddress: EmailAddress(_.email ?? __STRING_8__),
//           );
//   }
// }
