import 'package:caravaggio_ui/caravaggio_ui.dart';
import 'package:flutter/material.dart';
import 'package:[[project_name]]/widgets/common/custom_scaffold.dart';

class HomePage extends StatefulWidget {
  static const String routeName = '/home';

  const HomePage({super.key});

  @override
  State<HomePage> createState() => _HomePageState();
}

class _HomePageState extends State<HomePage> {
  @override
  Widget build(BuildContext context) {
    return CustomScaffold(
      title: CText.title('Home', size: TextSize.small),
      showBackButton: false,
      body: const Center(
        child: Text('Home Screen'),
      ),
    );
  }
}
